<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsForms.SP.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-TR5JSMM;Initial Catalog=sp_lab_II_utiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>